# Database configuration
DATABASE_HOST=localhost:3306
DATABASE_NAME=levelup_development
DATABASE_USERNAME=root
DATABASE_PASSWORD=rootpw
DATABASE_CONN_MAX_LIFETIME=120s
DATABASE_MAX_IDDLE_CONN=100
DATABASE_MAX_OPEN_CONN=100

BASIC_AUTH_USERNAME=altair
BASIC_AUTH_PASSWORD=eaglethatflyinthebluesky