# App config
APP_ENV=local
ACCESS_TOKEN_TIMEOUT=24h
ACCESS_GRANT_TIMEOUT=2h

# Database configuration
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=altair_development
DATABASE_USERNAME=root
DATABASE_PASSWORD=rootpw

# Basic auth configuration
BASIC_AUTH_USERNAME=altair
BASIC_AUTH_PASSWORD=eaglethatflyinthebluesky

PROXY_HOST=www.local.host

EXAMPLE_USERS_SERVICE_HOST=www.local.host:3000